/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "keys_sv.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
        behaviors {
                lmt: left_mod_tap {
                     compatible = "zmk,behavior-hold-tap";
                     label = "LEFT_MOD_TAP";
                     #binding-cells = <2>;
                     flavor = "tap-preferred";
                     tapping-term-ms = <200>;
                     quick-tap-ms = <0>;
                     bindings = <&kp>, <&kp>;
                     hold-trigger-key-positions = <
                        6 7 8 9 10 11
                        18 19 20 21 22 23
                        30 31 32 33 34 35
                        39 40 41>;
                };
                rmt: right_mod_tap {
                     compatible = "zmk,behavior-hold-tap";
                     label = "RIGHT_MOD_TAP";
                     #binding-cells = <2>;
                     flavor = "tap-preferred";
                     tapping-term-ms = <200>;
                     quick-tap-ms = <0>;
                     bindings = <&kp>, <&kp>;
                     hold-trigger-key-positions = <
                        0 1 2 3 4 5
                        12 13 14 15 16 17
                        24 25 26 27 28 29
                        36 37 38>;
                };
                cmlt: comma_less_than {
                     compatible = "zmk,behavior-mod-morph";
                     label = "COMMA_LESS_THAN";
                     #binding-cells = <0>;
                     bindings = <&kp COMMA>, <&kp SV_LT>;
                     mods = <(MOD_LSFT|MOD_RSFT)>;
                };
                dotgt: dot_greater_than {
                     compatible = "zmk,behavior-mod-morph";
                     label = "DOT_GREATER_THAN";
                     #binding-cells = <0>;
                     bindings = <&kp DOT>, <&kp SV_GT>;
                     mods = <(MOD_LSFT|MOD_RSFT)>;
                };
                slqst: slash_question {
                     compatible = "zmk,behavior-mod-morph";
                     label = "SLASH_QUESTION";
                     #binding-cells = <0>;
                     bindings = <&kp SV_FSLH>, <&kp SV_QMARK>;
                     mods = <(MOD_LSFT|MOD_RSFT)>;
                };
                sqtdqt: single_quote_double_quote {
                     compatible = "zmk,behavior-mod-morph";
                     label = "SINGLE_QUOTE_DOUBLE_QUOTE";
                     #binding-cells = <0>;
                     bindings = <&kp SV_SQT>, <&kp SV_DQT>;
                     mods = <(MOD_LSFT|MOD_RSFT)>;
                };
        };
        combos {
                compatible = "zmk,combos";
                combo_caps_word {
                     timeout-ms = <50>;
                     key-positions = <16 19>;
                     bindings = <&caps_word>;
                };
        };
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
   &none &kp Q       &kp W       &kp F        &kp P         &kp B    &kp J &kp L         &kp U        &kp Y       &sqtdqt     &none
   &none &lmt LGUI A &lmt LALT R &lmt LCTRL S &lmt LSHIFT T &kp G    &kp M &rmt RSHIFT N &rmt RCTRL E &rmt LALT I &rmt RGUI O &none
   &none &kp Z       &kp X       &kp C        &kp D         &kp V    &kp K &kp H         &cmlt        &dotgt      &slqst      &none
                                 &lt 1 ESC &lt 2 BSPC &lt 3 SPACE    &lt 4 RET &lt 5 TAB  &lt 6 DEL
                        >;
                };
                media_layer {
                        bindings = <
   &none &none    &none    &none     &none      &none  &out OUT_TOG &bt BT_SEL 0 &bt BT_SEL 1      &bt BT_SEL 2    &bt BT_SEL 3 &none
   &none &kp LGUI &kp LALT &kp LCTRL &kp LSHIFT &none  &none        &kp C_PREV   &kp C_VOLUME_DOWN &kp C_VOLUME_UP &kp C_NEXT   &none
   &none &none    &kp RALT &none     &none      &none  &none        &kp LBKT     &kp SQT           &kp SEMI        &none        &none
                                    &none &none &none  &kp C_STOP &kp C_PLAY &kp C_MUTE
                        >;
                };
                nav_layer {
                        bindings = <
   &none &none &none &none &none &none  &none &none &none &none &none &none
   &none &none &none &none &none &none  &none &kp LEFT_ARROW &kp DOWN_ARROW &kp UP_ARROW &kp RIGHT_ARROW &none
   &none &none &none &none &none &none  &none &none &none &none &none &none
                     &none &none &none  &none &none &none
                        >;
                };
                mouse_layer {
                        bindings = <
   &none &none &none &none &none &none  &none &none &none &none &none &none
   &none &none &none &none &none &none  &none &none &none &none &none &none
   &none &none &none &none &none &none  &none &none &none &none &none &none
                     &none &none &none  &none &none &none
                        >;
                };
                sym_layer {
                        bindings = <
   &none &kp SV_LBRC  &kp SV_AMPS &kp SV_STAR &kp SV_LPAR  &kp SV_RBRC  &none &none &none &none &none &none
   &none &kp SV_COLON &kp SV_DLLR &kp PRCNT   &kp SV_CARET &kp SV_PLUS  &none &none &none &none &none &none
   &none &kp SV_TILDE &kp EXCL    &kp SV_AT   &kp SV_HASH  &kp SV_PIPE  &none &none &none &none &none &none
                                  &kp SV_LPAR &kp SV_RPAR &kp SV_UNDER  &none &none &none
                        >;
                };
                num_layer {
                        bindings = <
   &none &kp SV_LBKT  &kp N7 &kp N8 &kp N9 &kp SV_RBKT   &none &none &none &none &none &none
   &none &kp SV_SEMI  &kp N4 &kp N5 &kp N6 &kp SV_EQUAL  &none &none &none &none &none &none
   &none &kp SV_GRAVE &kp N1 &kp N2 &kp N3 &kp SV_BSLH   &none &none &none &none &none &none
                            &kp DOT &kp N0 &kp SV_MINUS  &none &none &none
                        >;
                };
                fun_layer {
                        bindings = <
   &none &kp F12 &kp F7 &kp F8 &kp F9 &none  &none &none &none &none &none &none
   &none &kp F11 &kp F4 &kp F5 &kp F6 &none  &none &none &none &none &none &none
   &none &kp F10 &kp F1 &kp F2 &kp F3 &none  &none &none &none &none &none &none
                     &none &none &none  &none &none &none
                        >;
                };
        };
};
